.a{
    padding: 55px;
}

.mainlogic{
    display:flex;
    align-items: flex-end;
    flex-direction: column;
}


.genreh1{
    color:white;
    font-size: 24px;
    
}

.h11 {
    font-size: 48px;
    margin-bottom: 20px;
    color: white;
    border-left: 2px solid white;
}

.selectprr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.selector {
    height:50px;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.namelabel {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}
.descriptionlabel{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white
}

.descriptioninput {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}
.nameinput {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #007bff;
}

p {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
} 

