.film-card{
    background-color: #13171B;
    width: 270px;
    height: 470px;
    margin: 10px 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.film-card .film-image{
    display: flex;
    justify-content: left;
    width: 270px;
    height: 350px;
    border-radius: 10px;
    /* background-image: url('https://preview.redd.it/official-poster-for-dune-prophecy-v0-rsh60b58clpd1.jpeg?auto=webp&s=986ccca6dcf1bb1954df74f4dca27771b8dc84ba'); */
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    padding: 5px;
}

.film-image a{
    height: 70px;
}

.film-card img{
    width: 100%;
    height: 350px;
    /* border-top: 0px solid transparent; */
    border-radius: 10px;
}
.film-card p{
    margin-top: 10px;
    margin-bottom: 0;
}

.watchlist-button svg{
    opacity: 0.4;
    transition: all 0.1s ease;
}

.watchlist-button svg:hover{
    opacity: 0.6;
}

.movie-link{
    text-decoration: none;
}