@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.popularFilms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #14181C;
    color: white;
    font-size: 30px;
    margin: 20px 0 0px 0;
    padding-top: 20px;
    border-top: 1px gray solid;

}

.popularFilms hr{
    color: #CDCDCD;
    margin: 0px;
}

.films{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    
}

.popularFilms h2{
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    margin-bottom: 15px;
}

.popular-card{
    background-color: #CDCDCD;
}