@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.popularFilms{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #14181C;
    color: white;
    font-size: 30px;
    margin: 20px 0 0px 0;
    padding-top: 20px;
    border-top: 1px gray solid;

}

.popularFilms hr{
    color: #CDCDCD;
    margin: 0px;
    height :20px
}

.films{
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 55px;
    
}

.popularFilms h2{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: 45px;
}

.popular-card{
    background-color: #CDCDCD;
}