@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.popularReviews h2{
    color: white;
    font-family: 'Roboto Condensed';
    font-weight: 400;    
    margin-right: auto;
    margin-left: 45px;
}

.popularReviews{
    margin: 50px 0 0 0;
    padding: 0 20px;
}

.popularReviews hr{
    color: #CDCDCD;
    margin: 0px;
}

.reviews{
    width: 100%;
    
}

.popularReview{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid #515151;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

.reviewImg{
    width: 240px;
    height: 360px;
    
}

.reviewText{
    font-size: 24px;
    color: white;
    margin: 10px;
}