.movie-title{
    color: white;
    font-size: 40px;
}

.movie-additional-info{
    color: white;
    font-weight: 300;
    font-size: 32px;
    border-right: 1px solid white;
    padding: 0 10px 0 0;

}

.movie-image{
    width: 350px;
    height: auto;
}

.movie-info{
    padding: 10px 30px 30px 30px;
    min-height: 600px;
    height: auto;
    background: linear-gradient(90deg,#14181C 0%, #333537 50%, #14181C 100%);
    border-bottom: 1px #787878 solid;
}

.headlines{
    display: flex;
    width: 100%;
    /* gap: 20px; */
    height: 100%;
    justify-content: space-between;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

.movie-img-div{
    display: flex;
    /* flex-direction: column; */
    /* min-width: 300px; */
    /* width: auto; */
    min-height: 100%;
    align-items: center;
    /* justify-content: center; */
    /* height: auto; */
}

.movie-text-div{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* justify-content: center; */
    /* height: 100px; */
    /* gap: 15px; */
    align-items: center;
    text-align: center;
    /* text-wrap: nowrap; */
}

.additional-info-div{
    display: flex;
    align-items: center;
    gap: 10px;

}

.add-to-watchlist{
    width: 200px;
    height: 50px;
    background: linear-gradient(180deg, #787878 0%, #9B9B9B 100%);
    /* padding: 10px; */
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 28px;
    transition: all 0.2s ease;
    /* margin-left: 10px; */
}

.add-to-watchlist:hover{
    opacity: 0.8;
}

.movie-shot{
    margin-top: 10px;
}

.movie-shot img{
    width: 85%;
    height: auto;
    border-radius: 5px;
}

.movie-rating{
    color: white;
    font-size: 30px;
}

.movie-hr{
    color: white;
}

.movie-description{
    color: white;
    /* font-weight: 300; */
}

.movie-genres{
    color: white;
    font-weight: 400;
}

.movie-actors{
    color: white;
    font-weight: 400;
}

.bold-text{
    font-weight: 500;
}

.movie-hr1{
    color: white;
    font-weight: 400;
}