.reg-page{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-self: center;
}

.reg-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 460px;
    height: 620px;
    border-radius: 10px;
    border: 2px solid #787878; 
    justify-content: center;
    gap: 20px;
    padding: 30px 10px;
}
.registration-inputs{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(164, 164, 164, 1);
    align-items: center;
    gap: 20px;
}

.dop-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-form p{
    color: white;
    font-size: 24px;
    text-align: center;
}

.registration-inputs input{
    width: 400px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid rgba(120, 120, 120, 1);
    background: none;
    font-size: 24px;
    color: white;
    padding: 15px;
    transition: all 0.2s ease;
}


.registration-btn{
    width: 250px;
    height: 60px;
    background-color: #1E3E4D;
    font-size: 28px;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

.registration-btn:hover{
    background-color: #2e5466;
}

.reg-form h2{
    color: white;
    font-size: 40px;
    margin: 10px;
}