.login-page{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-self: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 460px;
    height: 500px;
    border: 2px solid #787878;
    padding: 30px 10px;
    border-radius: 10px;
    gap: 20px;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(164, 164, 164, 1) ;
    gap: 40px;
    padding: 10px;
    align-items: center;
}
    
.login-btn{
    width: 250px;
    height: 60px;
    background-color: #1E3E4D;
    font-size: 32px;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom:15px;
    transition: all 0.2s ease;
}

.login-btn:hover{
    background-color: #2e5466;
}

.login-form h2{
    color: white;
    font-size: 40px;
    margin: 10px;
}

.login-form p{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.login-form p a{
    font-weight: 500;
}

.login-inputs input{
    width: 400px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid rgba(120, 120, 120, 1);
    background: none;
    font-size: 24px;
    color: white;
    padding: 15px;
    transition: all 0.2s ease;
}